body.blog {
  article {
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;

    .image {
      height: 325px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.sticky {
      background-color: whitesmoke;
      border-left: solid 10px dimgrey;
    }

    time a {
      text-decoration: none;
    }
  }

  @media all and (min-width: $breakpoint) {
    article {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;

      .image {
        margin-right: 1rem;
        height: 325px;
        width: 300px;
        flex: 1;
      }

      > div {
        flex: 1;
      }
    }
  }
}

.nav-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: $spacer;

  .nav-previous::after,
  .nav-next::before {
    @include pseudo();

    display: inline-block;
    position: static;
    width: 0.5rem;
    height: 0.5rem;
    border-right: solid 1px $black;
    border-bottom: solid 1px $black;
    margin: 0 0.25rem;
  }

  .nav-next::before {
    transform: rotate(135deg);
  }

  .nav-previous::after {
    transform: rotate(-45deg);
  }
}
