/** Colors */
$brand-primary: #525ddc;
$brand-secondary: #dc8552;
$white: ghostwhite;
$black: #222;

$background: $white;
$text: $black;

$error: #e04b4b;
$warning: #e77540;
$success: #3bd63b;
$notice: #ffffa6;

/** Box Model  */
$spacer: 2rem;
$max-width: 1200px;

$breakpoint: 800px;
